{% extends 'rental/base.html' %}

{% block content %}
    {% if  added %}
    <h1 class="bg-green-500 text-center">Item has been added successfully !</h1>
{% endif %}
    <main>
        <div>
            <H1>Rent all the tools you want !</H1>
            <p>
                If you have tools you tend not to use very often why not make money out of them ?
                Rent my tool is a service that lets people to rent tools and
            </p>
        </div>
        <DIV>

        </DIV>
    </main>

{% endblock %}
